* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 30;
    width: 100;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(206, 198, 198);
}

.link {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.link1 {
    margin-left: 30px;
}

.deals {
    margin-left: 20px;
}

.help {
    margin-left: 20px;
}

.sell {
    margin-left: 850px;
}

.watch {
    margin-left: 30px;
}

.myebay {
    margin-left: 30px;
}

.bell {
    margin-left: 30px;
}

.cart {
    margin-left: 30px;
}

.navbar2 {
    height: 80px;
    width: 1535px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(214, 207, 207);
}

.h1 {
    display: flex;
    font-size: 50px;
    margin-left: 30px;
}

.h11 {
    color: red;
}

.h12 {
    color: blue;
}

.h13 {
    color: yellow;
}

.h14 {
    color: green;
}

.shop {
    margin-left: 30px;
}

.inputbox input {
    height: 40px;
    width: 1000px;
    margin-left: 30px;
    font-size: 1.2rem;
}

.btn button {
    height: 44px;
    width: 170px;
    background-color: blue;
    color: white;
    border: none;
    margin-left: 10px;
}

.advance {
    opacity: 0.7;
    margin-left: 20px;
}

.advance:hover {
    color: blue;
    opacity: 1;
}

.navbar3 {
    height: 30px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.listitems .display {
    list-style: none;
    display: flex;
}

.listitems .display li {
    margin-left: 65px;
    opacity: 0.7;
}

.listitems .display li:hover {
    color: blue;
    opacity: 1;
}

.herosection img {
    width: 100%;

}

.fav1 {
    height: 50px;
    background-color: #e5dcdc;
    padding: 50px;
    margin: 50px;
    display: flex;
    border-radius: 30px;
}

.fav {
    height: 50px;
    width: 60%;
}

.fav2 {
    height: 50px;
    width: 50%;
}

.btn1 button {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border: 2px solid rgb(87, 65, 65);
    margin-left: 500px;
}

.btn1 button:hover {
    background-color: black;
    color: white;
}

.heading {
    margin-left: 95px;
}

.box5 {
    height: 200px;
    display: flex;
    margin-left: 1px;
    margin-top: 20px;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #ece8e8;
    margin-left: 90px;
}

.circle h3 {
    margin-left: 40px;
}

.footer {
    height: 200px;
    background-color: #F7F7F7;
}

.social-media {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.linked-in {
    margin-left: 20px;
}

.insta {
    margin-left: 20px;
}